/* Questo va all'inizio del file CSS */

@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

@import "tailwindcss";

 
@plugin "tailwindcss-motion";


/* Il resto del tuo CSS */
.font-titolo {
  font-family: "Cinzel", serif;
  letter-spacing: 0.02em;
}

.font-titolo2 {
  font-family: "Cinzel", serif;
  letter-spacing: 0.02em;

}
.font-titolo3 {
  font-family: "Cinzel", serif;
  

}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e5e7eb;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;

}

#titolo {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: medium;
  font-size: 1rem;
}
/* styles/post.css */
.post-content, .ProseMirror {

  color: #1f2937;
  line-height: 1.7;

}

.ProseMirror h1, .post-content h1,
.ProseMirror h2, .post-content h2,
.ProseMirror h3, .post-content h3 {
  font-weight: 700;
  margin: 2rem 0 1rem;
}

.ProseMirror p, .post-content p {
  margin: 1rem 0;
}

.ProseMirror ul, .post-content ul,
.ProseMirror ol, .post-content ol {
  padding-left: 1.5rem;
  margin: 1rem 0;
}

.ProseMirror li, .post-content li {
  margin: 0.5rem 0;
}

.ProseMirror a, .post-content a {
  color: #2563eb;
  text-decoration: underline;
}


.ProseMirror strong, .post-content strong {
  font-weight: 700;
}
.ProseMirror em, .post-content em {
  font-style: italic;
}
.ProseMirror u, .post-content u {
  text-decoration: underline;
}
.ProseMirror mark, .post-content mark {
  background-color: #fef08a;
}
